{% extends 'ptw/nav.html' %}

{% block content %}
<div class="col-md p-4">
            <h2 class="text-success">{{ this_drill.description }} on {{ this_drill.date }} details:</h2>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Field</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th scope="row">ID:</th>
                            <td>{{ this_drill.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Type and Subtype:</th>
                            <td>{{ this_drill.type }} {{ this_drill.sub_type }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date performed:</th>
                            <td>{{ this_drill.date }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date next due:</th>
                            <td>{{ this_drill.date_next }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Long description:</th>
                            <td>{{ this_drill.long_description }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Personnel involved:</th>
                            <td>{{ this_drill.personnel }}</td>
                        </tr>
                    </tbody>
                </table>
</div>
{% endblock %}

