{% extends 'ptw/nav.html' %}


{% block content %}

<h2>Inhibits Register</h2>

<div class="table-responsive">
<table class="table table-striped table-hover">
<thead>
      <tr>
          <th scope="col">Number</th>
          <th scope="col">Created at</th>
          <th scope="col">Performing Authority</th>
          <th scope="col">System Description</th>
          <th scope="col">Maximo Tag</th>
          <th scope="col">IAS Tag</th>
          <th scope="col">Block/Suppress</th>
          <th scope="col">Status</th>
      </tr>
</thead>
{% if inhibit %}

            {% for item in inhibit %}
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.performing_authority }}</td>
                        <td>{{ item.system_description }}</td>
                        <td>{{ item.system_maximo_tag }}</td>
                        <td>{{ item.ias_tag }}</td>
                        <td>{{ item.block_or_suppress }}</td>
                        <td class="{% if item.status == "authorized" %}{{ 'text-bg-success' }}
                                    {% elif item.status == "created" %}{{ 'text-bg-info' }}
                                    {% else %}{{ 'text-bg-warning' }}
                                    {% endif %}">{{ item.status }}</td>
                    </tr>
                </tbody>
            {% endfor %}

{% else %}
    <p>No inhibits are currently active.</p>
{% endif %}
</table>
</div>

{% endblock %}
