{% extends 'ptw/nav.html' %}


{% block content %}

<h2>Isolation Register</h2>

<div class="table-responsive">
<table class="table table-striped table-hover" data-toggle="table">
<thead>
      <tr>
          <th scope="col">Number</th>
          <th scope="col">Created at</th>
          <th scope="col">Performing Authority</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Maximo Tag</th>
          <th scope="col">Status</th>
      </tr>
</thead>

{% if active_isolations %}

            {% for isolation in active_isolations %}
                <tbody class="table-group-divider">
                    <tr>
                        <th scope="row">{{ isolation.id }}</th>
                        <td>{{ isolation.created_at }}</td>
                        <td>{{ isolation.performing_authority }}</td>
                        <td>{{ isolation.isolation_type }}</td>
                        <td>{{ isolation.equipment_description }}</td>
                        <td>{{ isolation.equipment_maximo_tag }}</td>
                        <td class="{% if isolation.status == "authorized" %}{{ 'text-bg-success' }}
                                    {% elif isolation.status == "created" %}{{ 'text-bg-info' }}
                                    {% else %}{{ 'text-bg-warning' }}
                                    {% endif %}">{{ isolation.status }}</td>
                    </tr>
                </tbody>
            {% endfor %}

{% else %}
    <p>No isolations are currently active.</p>
{% endif %}
</table>
</div>

{% endblock %}
