{% extends 'ptw/nav.html' %}


{% block content %}

<h2>Longterm Isolation Register</h2>

<div class="table-responsive">
<table class="table">
<thead>
      <tr>
          <th scope="col">Number</th>
          <th scope="col">Created at</th>
          <th scope="col">Performing Authority</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>
          <th scope="col">Maximo Tag</th>
          <th scope="col">Status</th>
      </tr>
</thead>
{% if longterm_isolations %}

            {% for isolation in longterm_isolations %}
                <tbody>
                    <tr>
                        <th scope="row">{{ isolation.id }}</th>
                        <td>{{ isolation.created_at }}</td>
                        <td>{{ isolation.performing_authority }}</td>
                        <td>{{ isolation.isolation_type }}</td>
                        <td>{{ isolation.equipment_description }}</td>
                        <td>{{ isolation.equipment_maximo_tag }}</td>
                        <td>{{ isolation.status }}</td>
                    </tr>
                </tbody>
            {% endfor %}

{% else %}
    <p>No isolations are currently long term.</p>
{% endif %}
</table>
</div>

{% endblock %}

