<!DOCTYPE html>
<html lang="en-US">
  <head>
      <meta charset="utf-8" />
      <title>Stena Home</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'ptw/css/bootstrap.css' %}"/>
      <script src={% static 'ptw/js/bootstrap.js' %}></script>

  </head>

<nav class="navbar navbar-expand-lg">
  <div class="container-xl">
    <a class="navbar-brand align-top"
       href="{% url 'admin:index' %}">
        <img src="{% static 'ptw/images/rocket-takeoff.svg' %}" alt="Admin" width="32" height="32">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <form class="container-fluid justify-content-start">
            <a class="btn btn-outline-primary" role="button" href="{% url 'ptw:home' %}">Home</a>
            <a class="btn btn-outline-secondary" role="button" href="{% url 'ptw:ptw_index' %}">PTW</a>
            <a class="btn btn-outline-success" role="button" href="{% url 'ptw:active_index' %}">Isolations</a>
            <a class="btn btn-outline-warning" role="button" href="{% url 'ptw:safe_entry' %}">Safe Entries</a>
            <a class="btn btn-outline-info" role="button" href="{% url 'ptw:inhibit' %}">Inhibits</a>
            <a class="btn btn-outline-danger" role="button" href="{% url 'ptw:drills' %}">Drill Register</a>
            <a class="btn btn-outline-dark" role="button" href="{% url 'ptw:board_index' %}">LIVE PTW BOARD</a>
          </form>
      </div>
    </div>
      <div class="text">{% now "jS \o\f F Y \w\e\e\k \# W" %}</div>
  </div>
</nav>

<body>
<div class="container-xl">
    {% block content %}

    {% endblock %}
</div>
</body>

</html>
