{% extends 'ptw/nav.html' %}
{% block content %}

<h2>Safe Entry Register</h2>


<div class="table-responsive">
<table class="table">
<thead>
      <tr>
          <th scope="col">Number</th>
          <th scope="col">Created at</th>
          <th scope="col">Performing Authority</th>
          <th scope="col">Space Description</th>
          <th scope="col">Maximo Tag</th>
          <th scope="col">Status</th>
      </tr>
</thead>
{% if safeentry %}

            {% for item in safeentry %}
                <tbody>
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.performing_authority }}</td>
                        <td>{{ item.space_description }}</td>
                        <td>{{ item.space_maximo_tag }}</td>
                        <td>{{ item.status }}</td>
                    </tr>
                </tbody>
            {% endfor %}

{% else %}
    <p>No safe entries are currently active.</p>
{% endif %}
</table>
</div>

{% endblock %}
